body {
    margin: 0px;
    display: flex;
}

.graphic-left {
    width: 37.5%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #131313 0%, #161117 50%, #53604E 50%, #FFFFFF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container {
    width: 100%;
}

img {
    width: 100%;
    object-fit: contain;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
}

.inner-content {
    padding-left: 40px;
    background-color: #F9FAFB;
    flex-grow: 1;
}

#form-section {
    flex-grow: 0;
    background-color: white;
}